<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui">

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</h:head>
<h:body>

<h:form>
 <h:panelGrid columns="2" cellpadding="5">
        <p:outputLabel for="menu" value="Curso:" />
        <p:selectOneMenu id="menu" value="#{planoCursoBean.cursoSelecionado}" label="Curso"
                              >
            <f:selectItems value="#{planoCursoBean.cursos}"  />
        </p:selectOneMenu>
 
</h:panelGrid>
</h:form>
</h:body>
</html>