<ui:composition template="/WEB-INF/templates/_template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	
	<ui:define name = "titulo"> :: ETEC ::</ui:define>
		<ui:define name="corpo">
	<h:form>
		<h3> principal </h3>
		<h:commandButton value = "Navegar no Java" action ="\paginas\admin\aluno"/>
</h:form>


	</ui:define>

</ui:composition>

