/* base */
* { margin:0px; padding:0px; }
body{ 
	font-size:12px; 
	color:#000; 
	font-family:helvetica, arial, sans-serif;
	padding-bottom: 30px;
	text-align:center;
}

/** cabecalho **/
#cabecalho, header{
	background-color:#000000;
	height: 70px;
	position: relative;
}
#logoEscola {
	float:left;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -450px;
	width:250px;
	height:80px
}
#usuarioLogado  {
	color: white;
	display: block;
	float: right;
	right: 50%;
	margin-right: -450px;
	position: absolute;
	top: 35px;
}

/* miolo */
#conteudo, section {
	width:900px;
	height:auto;
	position:relative;
	padding:10px 0px;
	background-color:#FFF;
	margin: 0 auto;
}

/** rodape **/
#rodape, footer { 
	background-color:#000000;
	width:100%;
	position:fixed;
	bottom: 0;
	padding:15px 0px;
	text-align: center;
	font-size:10px; 
	color:#FFF;
	display: block;
}

/* TITULO */
h2{
	display:block;
	position:relative;
	overflow:hidden;
	color:#2B2926;
	text-align:left;
	height:auto;
	margin-bottom:10px;
	border-bottom: 1px solid;
	clear: both;
	font-size: x-large;
	width: 100%;
}

/* FORM */
input, textarea, select {
	display: block;	
	margin-bottom: 3px !important;
}
textarea {
	width: 300px;
}
input:not(.ui-widget), textarea:not(.ui-widget), select {
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	
	background:url("../resources/imagens/txt.gif") repeat-x scroll 0 0 transparent;
	border:1px solid #999999;
	padding:5px 2px;
}

label {
	display: block;
	float: left;
	margin-right: 20px;
	text-align: right;
	width: 120px;
}
input:after {
	clear: both;
}
.ui-spinner {
	float: left;
	margin-left: 303px;	
	}
input[type=submit], button {
	margin: 0 auto;
}
input[type=submit] {
	background:url("../resources/imagens/fundo_botao.gif") repeat-x scroll 0 0 #2A2A2A;
	border:1px solid #272727;
	color:#FFFFFF;
	cursor:pointer;
	padding:3px;
	position: relative;
	text-shadow:1px 1px 0 #000000;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}
fieldset input[type=submit], fieldset button {
	margin-left: 140px;
}
form{
	margin-bottom:10px;
	position: relative;
}

form fieldset {
	padding: 10px 0px 10px 10px;
	margin: 5px 0 10px 0;
	text-align:left;
	width:890px;
}
.ui-tabs {
	margin-bottom: 20px;	
}
.ui-tabs form fieldset {
	width:820px;	
}

form fieldset legend {
	font-weight: bold;
	padding: 0px 5px;
}
form .campos {
	display:block;
	position:relative;
	overflow:hidden;	
}


/* tabela zebrada */

table.dados{
	height:auto;
	margin-bottom: 10px;
	width:100%;
	color:#fff;
}

table.dados tr th{
	background-color:#0B0F19;
	color:#fff;
	color:1em;
	padding:10px;
}

table.dados tr td{
	padding:5px 10px;
}

.campos tbody tr td {
	padding-top: 10px;
	text-align: left;
}

.dados {
	width: 100%;	
}

.par  {
	background-color: #F0F9FF;
	color:#000;
}

.impar {
	background:none repeat scroll 0 0 #DDDDDD;
	color:#000;
}

/* validacao */
.erros {
	margin: 0 0 10px 0;
	padding: 0 8px;
	clear: both;

	}
.erros li {
	display: inline;
	list-style-position: inside;
	list-style-type: none;
	color: #C22;
	background: #FFDFDF;
	border: 2px solid #DF7D7D;
	float: left;
	padding: 6px;
	margin: 3px;
}

