<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

	<h:outputStylesheet library="css" name="style.css" />

	<title>Cadastro de Alunos</title>
</h:head>
<h:body>

	<div id="conteudo">
		<h2>
			<h:outputText value="Novo Aluno" rendered="#{alunoBean.aluno.id==0}" />
			<h:outputText value="Editar Aluno"
				rendered="#{alunoBean.aluno.id !=0}" />
		</h2>
		<h:form>
			<h:inputHidden value="#{alunoBean.aluno.id}" />

			<fieldset>
				<legend>DADOS DO ALUNO</legend>
				<h:outputLabel value="Nome:" for="nome" />
				<h:inputText id="nome" value="#{alunoBean.aluno.nome}" />

				<h:outputLabel value="Email:" for="email" />
				<h:inputText id="email" value="#{alunoBean.aluno.email}" />

				<h:commandButton value="Gravar" action="#{alunoBean.grava}" />

			</fieldset>
		</h:form>

		<h2>Listagem de Alunos</h2>
		<h:form>

			<h:dataTable value="#{alunoBean.alunos}" var="aluno"
				styleClass="dados" rowClasses="par,impar">

				<h:column>
					<f:facet name="header">Nome</f:facet>
			#{aluno.nome}
		</h:column>

				<h:column>
					<f:facet name="header">Email</f:facet>
			#{aluno.telefone}
		</h:column>

				<h:column>
					<h:commandLink action="#{alunoBean.remove}" value="Remover">
						<f:setPropertyActionListener target="#{alunoBean.aluno}"
							value="#{aluno}" />
					</h:commandLink>
				</h:column>

				<h:column>
					<h:commandLink value="Alterar">
						<f:setPropertyActionListener target="#{alunoBean.aluno}"
							value="#{aluno}" />
					</h:commandLink>
				</h:column>

			</h:dataTable>
		</h:form>
	</div>
	<div id="rodape">&copy;Copyright 2018. Todos os direitos
		reservados a Hor&aacute;cio Augusto.</div>
</h:body>
</html>