@font-face{

	font-family: "UniversLTStd-Black";
	src:url("../Fontes/UniversLTStd-Black.otf");}

@font-face{
	
	font-family: "UniversLTStd-Bold";
	src:url("../Fontes/UniversLTStd-Bold.otf");}

*{margin: 0px; padding: 0px;}

.container{
	width: 827px;
	float: left;}

.container .div-1{
	float: left;
	border-right: 1px dotted #bebebe;
	border-bottom: 1px dotted #bebebe;
	width: 412px;
	height: 584px;
	position: relative;}

.container .div-1 .CartaoSebrae{
	width: 361px;
	margin: 30px 0 0 26px;
	height: 173px;}

.container .div-1 .NomeVisitante {
        text-transform: uppercase;
        color: #000000;
        width: 100%;
        float: left;
        display: block;
        font-family: "UniversLTStd-Bold";
        font-size: 20px;
        padding: 40px 0 0 44px;
    }

.container .div-1 .NomeFantasia {
        text-transform: uppercase;
        color: #000000;
        width: 100%;
        float: left;
        display: block;
        font-family: "UniversLTStd-Bold";
        font-size: 15px;
        padding: 10px 0 0 44px;
    }

.container .div-1 .DescTrilha {
        text-transform: uppercase;
        color: #000000;
        width: 100%;
        float: left;
        display: block;
        font-family: "UniversLTStd-Bold";
        font-size: 15px;
        padding: 10px 0 0 230px;
        position:absolute;
        margin-top:145px;
    }

.container .div-1 .NomeTrilha {
        text-transform: uppercase;
        color: #000000;
        width: 100%;
        float: left;
        display: block;
        font-family: "UniversLTStd-Bold";
        font-size: 15px;
        padding: 10px 0 0 230px;
        position: absolute;
        margin-top: 165px;
    }

.container .div-1 .CodBarras img{
	width: 281px;
	margin: 55px 0 0 66px;}

.container .div-1 .Tipo{
	background:url(../imagens/background-Preto.jpg);
	border-radius: 5px;
	margin: 20px 0 0 27px;
	padding: 35px 111px;
	display: table;}

.container .div-1 .Tipo span{
	color: #ffffff;
	font-family: "UniversLTStd-Black";
	font-size: 24px;
	text-transform: uppercase;}

.container .div-1 .Seta-1{
	position: absolute;
	bottom: -19px;
	left: 25px;}

/* DIV 2 */

.container .div-2{
	float: left;
	width: 414px;
	border-bottom: 1px dotted #bebebe;
	height: 584px;}

.container .div-2 h2{
	margin: 72px 0 0 24px;
	font-family: "UniversLTStd-Black";
	text-transform: uppercase;
	font-size: 25px;}

.container .div-2 .div-{
	background:url(../imagens/background-Preto.jpg);
	padding: 12px 14px;
	margin: 21px 0 0 25px;
	border-radius: 5px;
	display: table;}

.container .div-2 .div- span{
	color: #ffffff;
	text-transform: uppercase;
	font-family: "UniversLTStd-Black";
	font-size: 19px;}

.container .div-2 .div-- img{
	float: left;
	margin: 21px 0 0 21px;}

.container .div-2 .div-- div{
	float: left;
	margin: 21px 0 0 6px;}

.container .div-2 .div-- div p{
	font-size: 11px;
	font-family: Arial;
	line-height: 14px;}

.container .div-2 .div-- div a{
	text-decoration: none;
	font-family: Arial;
	font-size: 13px;
	color: #000000;
	font-weight: bold;}

.container .div-2 .div---{
	margin: 33px 0 0 24px;
	float: left;}

.container .div-2 .div--- p{
	font-weight: bold;
	font-size: 14px;
	font-family: Arial;}

.container .div-2 ul{
	width: 327px;
	float: left;
	margin: 4px 0 0 38px;}

.container .div-2 ul li{
	font-size: 11px;
	font-family: Arial;
	padding: 10px 0;}

/* DIV 3 */

.container .div-3{
	float: left;
	width: 412px;
	transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	height: 585px;}

.container .div-3 h2{
	font-family: "UniversLTStd-Black";
	font-size: 23px;
	display: block;
	width: 294px;
	margin: 60px 0 0 38px;
	line-height: 26px;}

.container .div-3 ul{
	margin: 35px 0 0 57px;
	font-family: Arial;}	

.container .div-3 ul li{
	line-height: 30px;
	font-size: 17px;}

/* DIV 4 */

.container .div-4{
	float: right;
	width: 414px;
	transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	position: relative;
	border-right: 1px dotted #bebebe;
	height: 585px;}

.container .div-4 h2{
	font-family: "UniversLTStd-Black";
	font-size: 23px;
	text-transform: uppercase;
	margin: 58px 0 0 24px;
	display: table;}

.container .div-4 p{
	font-size: 12px;
	font-family: Arial;}

.container .div-4 h3{
	font-family: Arial;
	text-transform: uppercase;
	font-size: 14px;
	margin: 20px 0 0 27px;}

.container .div-4 ul{
	margin: 0 0 0 44px;
	display: block;
	width: 318px;}

.container .div-4 ul li{
	font-size: 12px;
	text-align: left;
	font-family: Arial;
	line-height: 19px;}
	
.container .div-4 .Seta{
	position: absolute;
	bottom: 14px;
	right: -20px;
	transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);}