<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/_template.xhtml">

	<ui:define name="titulo">Cadastro de Alunos</ui:define>

	<ui:define name="corpo">

		<h2>
			<h:outputText value="Novo Aluno" rendered="#{alunoBean.aluno.id==0}" />
			<h:outputText value="Editar Aluno"
				rendered="#{alunoBean.aluno.id !=0}" />
		</h2>
		<h:form>
			<h:inputHidden value="#{alunoBean.aluno.id}" />

			<fieldset>
				<legend>DADOS DO ALUNO</legend>
				<p:outputLabel value="Nome:" for="nome" />
				<p:inputText id="nome" value="#{alunoBean.aluno.nome}" />

				<p:outputLabel value="Telefone:" for="fone" />
				<p:inputMask value="#{alunoBean.aluno.telefone}"
					mask="(99) 9999-9999" id="fone" />

				<p:outputLabel value="Email:" for="email" />
				<p:inputText id="email" value="#{alunoBean.aluno.email}" />

				<p:commandButton value="Gravar" action="#{alunoBean.grava}" >
				</p:commandButton>

			</fieldset>
		</h:form>

		<h2>Listagem de Alunos</h2>
		<h:form>

			<p:dataTable var="aluno" value="#{alunoBean.alunos}" rendered="#{!empty alunoBean.alunos}">
				<p:column headerText="Id">
					<h:outputText value="#{aluno.id}" />
				</p:column>

				<p:column headerText="nome">
					<h:outputText value="#{aluno.nome}" />
				</p:column>

				<p:column headerText="email">
					<h:outputText value="#{aluno.email}" />
				</p:column>

			</p:dataTable>
		</h:form>
	</ui:define>

</ui:composition>
</html>