<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/_template.xhtml">
	<ui:define name = "titulo"> Login</ui:define>
		<ui:define name="corpo">
		<h2>Login no Sistema</h2>
		<h:form>
			<fieldset>
				<legend>Entre com seu usu&aacute;rio e senha</legend>
				<h:outputLabel value="Login:" for="user" />
				<h:inputText value="#{loginBean.usuario.login}" id="user" />
				<h:outputLabel value="Senha:" for="senha" />
				<h:inputSecret value="#{loginBean.usuario.senha}" id="senha" />

				<h:commandButton value="Efetuar Login" action = "#{loginBean.efetuarLogin}"/>
			</fieldset>
		</h:form>
			</ui:define>
		</ui:composition>
</html>