<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	
	<title>Exemplo Web Java/></title>
</h:head>

<body>
	<h:form> 
    <p:growl id="growl" showDetail="true" sticky="true" />  
 
    <p:panel header="Exemplo">  
        <h:panelGrid columns="2" cellpadding="5">  
            <p:outputLabel for="msg" value="Mensagem: " />   
            <p:inputText id="msg" value="#{exemploBean.exemplo.descricao}" required="true" />  
        </h:panelGrid>  
 
        <p:commandButton value="Exibir MSG" actionListener="#{exemploBean.exibirMsg}" update="growl" />  
    </p:panel> 
</h:form>  
</body>
</html>