<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	
	<title>Exemplo Web Java/></title>
</h:head>

<body>
	<h:form> 
    <p:growl id="growl" showDetail="true" sticky="true" />  
 
    <p:panel header="Exemplo">  
        <h:panelGrid columns="2" cellpadding="5">  
            <p:outputLabel for="msg" value="Mensagem: " />   
            <p:inputText id="msg" value="#{exemploBean.exemplo.descricao}" required="true" />  
        </h:panelGrid>  
 
        <p:commandButton value="Exibir MSG" actionListener="#{exemploBean.exibirMsg}" update="growl" />  
    </p:panel> 
    
    <p:tabView>
        <p:tab title="O que estudar?">
            <h:panelGrid columns="2" cellpadding="10">
                 <p:graphicImage url="/resources/img/java.jpg" />
            </h:panelGrid>
        </p:tab>
        <p:tab title="Como estudar?">
            <h:panelGrid columns="2" cellpadding="10">
                 <p:graphicImage url="/resources/img/livros.jpg" />
            </h:panelGrid>
        </p:tab>
        <p:tab title="Onde estudar?">
            <h:panelGrid columns="2" cellpadding="10">
               <p:graphicImage url="/resources/img/horacio.jpg" />
             </h:panelGrid>
        </p:tab>
    </p:tabView>
    
    <h3>Fade</h3>
<p:imageSwitch effect="fade" id="fadeEffect">
    <ui:repeat value="#{imagesView.images}" var="image" id="fadeEffectImages">
        <p:graphicImage name="/demo/images/nature/#{image}" id="image" />
    </ui:repeat>
</p:imageSwitch>
   
 
    
    
</h:form>  
</body>
</html>