<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"	
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<body>
  
  <h:form>
  	
  	<p:fieldset legend="Importante" style="padding: 15px 15px;margin-top: 250px; width: 20%; float:left;">
  		<p:scrollPanel style="padding: 0px 10px;">
  			<p>
  				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. Nulla sit amet lorem justo. Cras non tellus eros. Sed ultricies orci ut quam interdum fringilla. Nam vitae massa ac mi elementum mattis vel vitae sem. Ut eros ipsum, scelerisque a erat a, eleifend luctus nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
  			</p>
  		</p:scrollPanel>
  	</p:fieldset>
 
  <center>
          <h3 style="margin-top: 180px; margin-left: 120px;">REGIMENTO COMUM DAS ESCOLAS ESTADUAIS</h3>
<p:scrollPanel id="painel" style="width:500px;height:200px; margin-left: 90px; margin-top: 250px; padding: 0px 80px;">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit tortor a ipsum vehicula, in semper sapien auctor. Nulla tempor eget est non consequat. Nulla sit amet lorem justo. Cras non tellus eros. Sed ultricies orci ut quam interdum fringilla. Nam vitae massa ac mi elementum mattis vel vitae sem. Ut eros ipsum, scelerisque a erat a, eleifend luctus nibh. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>

  
    <p>
        Sed tincidunt urna quis metus lacinia commodo. .
    </p>
    <p>
        Praesent volutpat scelerisque vestibulum. In eu massa non neque rutrum commodo. Nunc vel enim nisi. Aenean leo ipsum, molestie vel justo nec, pharetra luctus dui. Nunc rhoncus turpis id lorem luctus consequat. Nulla condimentum adipiscing turpis consequat semper. Etiam ullamcorper velit nec hendrerit malesuada. Praesent venenatis leo sit amet arcu commodo, sit amet porta tellus suscipit. Quisque mi tortor, vestibulum in arcu non, pretium auctor libero. In commodo luctus placerat.
    </p>
    
    
</p:scrollPanel>

<p:fileUpload skinSimple="true" mode="simple" id="Regimento" style="float:right; margin-right: 380px; margin-top: 20px;"/>
</center>
  
    <p:commandButton value="Salvar"/>
  
  
  </h:form>
 
</body>
</html>