<ui:composition template="/WEB-INF/templates/_template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name = "titulo"> ETEC :: Cadastro de Curso</ui:define>
		<ui:define name="corpo">
		<h2>
			<h:outputText value="Novo Aluno" rendered="#{alunoBean.aluno.id==0}" />
			<h:outputText value="Editar Aluno"
				rendered="#{alunoBean.aluno.id !=0}" />
		</h2>
		<p:growl id="growl" showDetail="true" />
		<h:form id="formAluno">
			<h:inputHidden value="#{alunoBean.aluno.id}" />

			<fieldset>
				<legend>DADOS DO ALUNO</legend>
				<p:outputLabel value="Nome:" for="nome" />
				<p:inputText id="nome" value="#{alunoBean.aluno.nome}" />
			
				<p:commandButton value="Gravar" actionListener="#{alunoBean.gravar}" update=":formAlunos" />
			</fieldset>
		
		
		
		</h:form>
        <h:form id="formAlunos">
			<p:dataTable var="aluno" value="#{alunoBean.alunos}"
				id="tabelaAlunos" styleClass="dados" rowClasses="par,impar">
				<f:facet name="header">Lista de Alunos Cadastrados</f:facet>
				<!-- colunas padrão... -->
				<p:column headerText="Nome">
					<h:outputText value="#{aluno.nome}" />
				</p:column>

				<!-- Actions -->
				<p:column headerText="Ações">
					<p:commandLink title="Alterar" >
						<h:graphicImage library="img" name="iconEditar.png" id="editImg" />
						<f:setPropertyActionListener target="#{alunoBean.aluno}" value="#{aluno}" />
					</p:commandLink>
					<p:spacer width="10px"></p:spacer>
					<h:commandLink action="#{alunoBean.excluir}" value="Remover">
					<f:ajax render="@form" />
					<f:setPropertyActionListener target="#{alunoBean.aluno}"
						value="#{aluno}" />
				</h:commandLink>
				</p:column>
			</p:dataTable>

			</h:form>
	</ui:define>
</ui:composition>
