<ui:composition template="/WEB-INF/templates/_template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name = "titulo"> ETEC :: Cadastro de Curso</ui:define>
		<ui:define name="corpo">
		
		<p:growl id="growl" showDetail="true" />
		<h:form id="formPrincipal">
			
			<fieldset>
				<legend>NOVA TURMA</legend>
				     
                        <p:commandButton value="Cadastrar" id="cadastrar"
                                oncomplete="PF('dialogCadastrar').show()" title="Cadastrar Unidade Autarquia" />
			</fieldset>
			</h:form>
		<h:form id="formCadastrar">
                <p:dialog header="Cadastrar" widgetVar="dialogCadastrar" modal="true"   hideEffect="puff" >
                	<p:messages id="msgCadastrar"/>
                   	  <p:fieldset styleClass="fieldSet"><legend> Curso</legend> 
                	       <p:panelGrid id="panelCadastrar" columns="2" styleClass="semBorda">
                               <h:outputLabel value="Nome do Curso:" for="txtNomeCurso" />  
                                <p:inputText id="txtNomeCurso" value="#{turmaBean.turma.curso}" maxlength="100" title="Nome do Curso" />
								
								<h:outputLabel value="Período:" for="periodo" />  
				              	 <p:selectOneMenu value="#{turmaBean.periodoEnum}" id="periodo">
    								<f:selectItem itemLabel="Selecione..." itemValue="" noSelectionOption="true" />
   									 <f:selectItems value="#{turmaBean.periodoEnum}" />
								</p:selectOneMenu>
								<p:tooltip for="periodo" value="Escolha o Período do Curso" myPosition="top, right" />
				                            
                        	</p:panelGrid>
                      	</p:fieldset>
                        <center>
                        <p:commandButton value="Cadastrar"
                                actionListener="#{turmaBean.cadastrar}"
                                update=":formCadastrar:panelCadastrar :formCadastrar:msgCadastrar"
                                oncomplete="if (args &amp;&amp; !args.validationFailed) PF('dialogCadastrar').hide()"
                                title="Cadastrar" />
                         </center>
                         
                </p:dialog>
        </h:form>
		
		
		
	</ui:define>
</ui:composition>
